
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87ceeb;
    padding: 1px 20px;
    font-size: 20px;
  }
  
  .header a {
    text-decoration: none;
  }

  .header h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
  }

  .header-center {
    display: flex;
    padding-right: 30px;
    justify-content: center;
    margin-right: 200px;
  }

  .header-center img {
    height: 40px;
    margin-left: 30px;
  }

  button {
    background-color: #87ceeb;
    border: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-right img {
    height: 35px;
  }
  
  .search-bar {
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
  }
  
  /* Main Content */
  .main-content {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 60%;
  }
  
  .product-card {
    text-align: center;
  }
  
  .product-image {
    background-color: #d3d3d3;
    height: 335px;
    border-radius: 5px;
  }

  .product-image img {
    height: 100%;
    width: 100%;
  }
  
  .product-name {
    font-size: 20px;
    font-weight: bold;
  }
  